/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Poppins:wght@200;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Montserrat:wght@200;400;700&family=Poppins:wght@200;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: #c5c7c5;
    padding-top: 55px;
    padding-bottom: 55px;
}

header {
    background-color: #78184A;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    margin-top: 45px;
    max-width: 500px;
    margin: 45px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Ensures the container is scrollable if content overflows */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.brand-title {
    font-size: 1.5rem;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-links li {
    display: inline-block;
    padding: 0 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-links a:hover {
    color: #ccc;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
        width: 100%;
        background-color: #333;
        align-items: center;
        padding: 10px 0;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }
}

main {
    padding: 1em;
}

section {
    margin: 2em 0;
}

.welcome-section {
    text-align: center;
    background-color: #e1f5fe;
    padding: 2em;
}

.cta-button {
    background-color: #00796b;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem; /* Adjusted font size */
    display: inline-block;
    width: auto; /* Ensure it doesn't take up too much space */
}

.cta-button:hover {
    background-color: black;
}

.finance-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px auto;
    display: block;
}

.features-section, .benefits-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features, .benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.feature, .benefit {
    padding: 1em;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    color: #fff;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.feature.visible, .benefit.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-section {
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar .navbar-links ul li {
        text-align: center;
        margin: 1em 0;
    }

    .navbar .navbar-links ul li a {
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .toggle-button.active + .navbar-links {
        display: flex;
    }
    .cta-button {
        font-size: 0.875rem; /* Smaller font size for mobile */
        padding: 0.4em 0.8em;
    }
}

/* Register Page */
.register-section {
    background-color: #f5f5f5;
    padding: 2em;
    border-radius: 10px;
    max-width: 500px;
    margin: 2em auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-section h2 {
    text-align: center;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.cta-button {
    display: inline-block;
    padding: 0.5em;
    background-color: #00796b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    width: auto;
}

.cta-button:hover {
    background-color: black;
}


/* Login */
.login-section {
    background-color: #f5f5f5;
    padding: 2em;
    border-radius: 10px;
    max-width: 500px;
    margin: 2em auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
    text-align: center;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.cta-button {
    display: inline-block;
    background-color: #00796b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    width: auto;
}

.cta-button:hover {
    background-color: black;
}

/* Dashboard Page */
main {
    padding: 2em;
    background-color: #f5f5f5;
    min-height: calc(100vh - 80px); /* Adjust based on header and footer height */
}

.dashboard {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.dashboard h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.dashboard-content {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-content h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.quick-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cta-button {
    display: inline-block;
    padding: 1em;
    background-color: #00796b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
    width: auto;
}

.cta-button:hover {
    background-color: #005f56;
}

/* Add Expense Page */
.add-expense-section {
    background-color: #f5f5f5;
    padding: 2em;
    border-radius: 10px;
    max-width: 500px;
    margin: 2em auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-expense-section h2 {
    text-align: center;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.cta-button {
    display: inline-block;
    padding: 0.5em;
    background-color: #00796b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
     width: auto;
}

.cta-button:hover {
    background-color: black;
}

/*gfdsfghgfhj
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}*/

/* Main content */
.main-content {
    padding: 20px;
}

/* Form and table */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Buttons */
.cta-button {
    display: inline-block;
    background-color: #00796b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #005f56;
}

.edit-button, .delete-button {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button:hover, .delete-button:hover {
    background-color: #005f56;
}

@media (max-width: 768px) {
    .container {
        padding: 0 5px;
    }

    table {
        font-size: 14px;
    }
}

/* Footer Section */
footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: large;
}

footer p {
    margin: 0;
}